[submodule "custom/plugins/you-should-use"]
	path = custom/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "custom/plugins/zsh-vi-mode"]
	path = custom/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "custom/themes/powerlevel10k"]
	path = custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
